/* BOX MODEL + BASE SELECTORS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f6f6f6;
  padding: 40px;
}

/* DIRECT CHILD SELECTOR */
#container > h1 {
  text-align: center;
  margin-bottom: 30px;
}

/* FLEXBOX */
.investor-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  
  
}

/* CARD STYLING */
.investor-card {
  background: white;
  width: 23%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

/* DESCENDANT SELECTOR */
.investor-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* SIBLING COMBINATOR EXAMPLE */
.investor-card h3 + p {
  color: gray;
  margin-bottom: 15px;
}

/* CHILD SELECTOR FOR LOGO */
.investor-card > .logo {
  width: 80px;
  height: auto;
  margin-top: 10px;
}
