.profile-card {
    width: 300px;
    height: 400px;
    padding: 20px;
    margin: auto;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    box-sizing: border-box;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 15px;
}
