.grid {
      display: grid;
      grid-template-columns: repeat(3, 150px);
      grid-template-rows: repeat(3, 80px);
      gap: 3px;
      width: 320px;
      margin: 20px auto;
    }

    .item {
      background: #e0e0e0;
      
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-family: sans-serif;
    }
    .item1{background-color: orangered; color: white;}
    .item2{background-color: blue; color: white;}

    .item3{background-color: yellow; color: white;}

    .item4{background-color: purple; color: white;}
.item5{background-color:green; color: white;}
.item6{background-color: skyblue; color: white;}
.item7{background-color:orange ; color: white;}
.item8{background-color:skyblue ; color: white;}
.item9{background-color:maroon; color: white;}

